# Semana 3 - Actividad 1
- Nombre: Evelyn Aylin Rendon Medina 
- Matricula: A01748750
- Materia: Ciencia y analítica de datos (Gpo 10)
- Profesor: Jobish Vallikavungal Devassia
- Fecha de entrega: 4 octubre 2022

# Parte 1


**Fundamentos de bases de datos y para ciencia de datos.**  Una base de datos se puede entender como una recopilación de información, la cual posee determinado orden o estructura (datos estructurados) y su contenido tiene relación o está asociado a una actividad determinada. Dicha base puede contener tablas, la cual está formada por filas (observaciones) y columnas (categorías), donde la intersección entre tales elementos se llama ‘celda’. De igual forma, es importante mencionar que cuando hablamos de datos, se hace referencia a los registros contenidos, es decir, la observación de una categoría es un dato o registro y el conjunto de ellos crea nuestra base de datos.
El personal especializado para trabajar con bases de datos recibe el nombre de ‘científico de datos’ y es aquel individuo que requiere comprender los datos de los cuales dispone, con la finalidad de analizarlos y fundamentar la toma de decisiones. Para ello requiere un amplio conocimiento teórico y habilidad al utilizar las tecnologías disponibles que le permiten manipular los datos para obtener información, como encontrar relaciones o predecir comportamientos. Cabe destacar que los datos son una parte fundamental del modelo y determinarán en gran medida su rendimiento, por lo que tener un conjunto de datos apropiado es también un aspecto vital, de forma que la persona especializada que lleve a cabo dicha tarea pasará alrededor del 80% del tiempo recopilándolos y preparándolos.
Existe un enfoque de la base de datos, donde se tiene un repositorio de dichos registros con cierto estándar en su almacén para lo cual es necesario un sistema de administración de datos (DBMS) y algunos lenguajes para manipular tales datos son el DML (query language) y SQL (Structured Query Language).

**Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**
Un almacén de datos (DW) conceptualmente es un depósito central cuyo análisis (de los datos) nos ayuda a tomar mejores decisiones, pues tienen conocimiento que las respalda. Se podría decir que es una base de datos de gran tamaño y su contenido se genera a través de la unificación de datos provenientes de distintas fuentes. Dicho en otras palabras, este tipo de almacenamiento es capaz de contener en sí varias bases de datos y su diseño se orienta en hacer posible su análisis, por lo que deberá contener datos estructurados. 
Es preciso destacar que una base de datos está relacionada con una única actividad o un particular propósito, que es lo que la diferencia de un almacén de datos (data warehouse). De igual forma, un lago de datos es un repositorio capaz de contener datos de diversos tipos (estructurados, no estructurados y semiestructurados) y dicha característica lo diferencia del almacén (DW), pues el último requiere que sean estructurados para que sea posible consultar sus datos.
Otro concepto relacionado que es importante destacar es la llave primaria (primary key), que es un identificador único que se genera para cada observación, tal como es nuestro CURP. Cuando en una tabla se hace referencia a una llave proveniente de otra tabla, se le llama llave foránea (foreign key)

# Parte 2

## Carga del archivo

Se obtiene la base de datos y se guarda como un dataframe a través de la librería de pandas

In [ ]:
baseDatos='https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'
import pandas as pd
import numpy as np
from statistics import mode
df=pd.read_csv(baseDatos)
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

Se crea una copia del dataframe para hacer modificaciones

In [ ]:
cdf=df.copy()
cdf

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

## Estandarización general

Se verifica el tipo de datos en cada columna del dataframe

In [ ]:
cdf.dtypes

ID       int64
X1       int64
X2     float64
X3     float64
X4     float64
X5     float64
X6     float64
X7     float64
X8     float64
X9     float64
X10    float64
X11    float64
X12    float64
X13    float64
X14    float64
X15    float64
X16    float64
X17    float64
X18    float64
X19    float64
X20    float64
X21    float64
X22    float64
X23    float64
Y      float64
dtype: object

Las comprobaciones que se realizarán en estos datos serán únicamente para conocer mejor este conjunto específico, pero se contemplan correciones bajo la consideración que no sabemos cómo serían los datos futuros

Se comprueba que X1 tenga valores numéricos <=0 debido a que es el monto de crédito otorgado y no podría ser negativo. En caso que existieran esos valores, se considerarán iguales a cero.

In [ ]:
x1=cdf[cdf['X1']<=0]
print(x1) 
cdf[cdf['X1']<=0]=0 #Cambio de valores conforme el estándar comentado

       ID  X1   X2   X3   X4   X5   X6   X7   X8   X9  ...  X15  X16  X17  \
0      -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0
9      -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0
18     -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0
19     -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0
23     -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0
...    ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
29984  -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0
29985  -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0
29986  -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0
29989  -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0
29992  -1  -1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  ... -1.0 -1.0 -1.0

       X18  X19  X20  X21  X22  X23    Y
0     -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
9     -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
18    -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
19    -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
23    -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
...    ...  ...  ...  ...  ...  ...  ...
29984 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
29985 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
29986 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
29989 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
29992 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0

[6451 rows x 25 columns]

Se comprueba si hay elementos en X2 cuyos valores no correspondan a las categorías de género disponibles. En caso que existieran esos valores, se sustituirán por uno de los dos géneros al azar, puesto que el modelo no está particularmente enfocado en el género y no se opta por alguno de los dos arbitrariamenete para evitar algún sesgo.

In [ ]:
x2=cdf[(cdf['X2']!=1) & (cdf['X2']!=2)]
print(x2)
cdf[(cdf['X2']!=1) & (cdf['X2']!=2)]=np.random.randint(1,3) #Cambio de valores conforme el estándar comentado

       ID  X1   X2   X3   X4   X5   X6   X7   X8   X9  ...  X15  X16  X17  \
0       0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
9       0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
18      0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
19      0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
23      0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...    ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
29984   0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
29985   0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
29986   0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
29989   0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
29992   0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

       X18  X19  X20  X21  X22  X23    Y
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0
9      0.0  0.0  0.0  0.0  0.0  0.0  0.0
18     0.0  0.0  0.0  0.0  0.0  0.0  0.0
19     0.0  0.0  0.0  0.0  0.0  0.0  0.0
23     0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...
29984  0.0  0.0  0.0  0.0  0.0  0.0  0.0
29985  0.0  0.0  0.0  0.0  0.0  0.0  0.0
29986  0.0  0.0  0.0  0.0  0.0  0.0  0.0
29989  0.0  0.0  0.0  0.0  0.0  0.0  0.0
29992  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[6852 rows x 25 columns]

Se comprueba si hay elementos en X3 cuyos valores no correspondan a las categorías de educación disponibles. En caso que existieran esos valores, se les asignará la categoría 'otra' porque es una no específica y al no contar con el dato correcto, sería la opción más lógica.

In [ ]:
x3=cdf[(cdf['X3']!=1) & (cdf['X3']!=2) & (cdf['X3']!=3) & (cdf['X3']!=4)]
print(x3)
cdf[(cdf['X3']!=1) & (cdf['X3']!=2) & (cdf['X3']!=3) & (cdf['X3']!=4)]=4 #Cambio de valores conforme el estándar comentado

Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]

Se comprueba si hay elementos en X4 cuyos valores no correspondan a las categorías de estado civil disponibles. En caso que existieran esos valores, se les asignará la categoría 'otra' porque es una no específica y al no contar con el dato correcto, sería la opción más lógica.

In [ ]:
x4=cdf[(cdf['X4']!=1) & (cdf['X4']!=2) & (cdf['X4']!=3)]
print(x4)
cdf[(cdf['X4']!=1) & (cdf['X4']!=2) & (cdf['X4']!=3)]=3 #Cambio de valores conforme el estándar comentado

Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]

Se comprueba si hay elementos en X5 cuyos valores no correspondan con una edad lógica (<18 = ilógico). En caso que existieran esos valores, se les asignará edad=18.

In [ ]:
x5=cdf[cdf['X5']<18]
print(x5)
cdf[cdf['X5']<18]=18 #Cambio de valores conforme el estándar comentado

       ID  X1   X2   X3   X4   X5   X6   X7   X8   X9  ...  X15  X16  X17  \
0       1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
9       1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
18      1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
19      1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
23      1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
...    ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
29984   1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
29985   1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
29986   1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
29989   1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
29992   1   1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0

       X18  X19  X20  X21  X22  X23    Y
0      1.0  1.0  1.0  1.0  1.0  1.0  1.0
9      1.0  1.0  1.0  1.0  1.0  1.0  1.0
18     1.0  1.0  1.0  1.0  1.0  1.0  1.0
19     1.0  1.0  1.0  1.0  1.0  1.0  1.0
23     1.0  1.0  1.0  1.0  1.0  1.0  1.0
...    ...  ...  ...  ...  ...  ...  ...
29984  1.0  1.0  1.0  1.0  1.0  1.0  1.0
29985  1.0  1.0  1.0  1.0  1.0  1.0  1.0
29986  1.0  1.0  1.0  1.0  1.0  1.0  1.0
29989  1.0  1.0  1.0  1.0  1.0  1.0  1.0
29992  1.0  1.0  1.0  1.0  1.0  1.0  1.0

[6852 rows x 25 columns]

Se comprueba si hay elementos en X6:X11 (sep-abr 2005) cuyos valores no correspondan con un historial de pago lógico (<-1). De momento solo se hace para conocer nuestros datos, en la siguiente sección se tomarán medidas.

In [ ]:
r6=cdf.columns.get_loc('X6') #Se busca el índice para la columna llamada 'X6'
r11=cdf.columns.get_loc('X11') #Se busca el índice para la columna llamada 'X11'
for i in range(r6,r11+1):
  x6_x11=cdf[cdf.iloc[:,i]<-1] 
  print(x6_x11)

Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]

En caso que existieran esos valores (historial de pago no lógico), se les asignará la categoría 'paga debidamente' (-1), puesto que si son números negativos más grandes que -1, podría significar un error al capturar los datos.

In [ ]:
for i in range(r6,r11+1): #Se crea un bucle para modificar los valores del índice de la columna 6 a la 11, sumando uno al segundo valor porque es excluyente
  cdf[cdf.iloc[:,i]<-1] =-1 #cdf[cdf['X6']<-1] =-1

Comprobamos que fueron corregidos

In [ ]:
x6=cdf[cdf['X6']<-1]
print(x6)
x11=cdf[cdf['X11']<-1]
print(x11)

Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]

Se comprueba si hay elementos en X11:X17 cuyos valores no correspondan con un monto de deuda lógico (<-1 = ilógico). De momento solo se hace para conocer nuestros datos, en la siguiente sección se tomarán medidas.

In [ ]:
r12=cdf.columns.get_loc('X12') #Se busca el índice para la columna llamada 'X12'
r17=cdf.columns.get_loc('X17') #Se busca el índice para la columna llamada 'X17'
for i in range(r12,r17+1):
  x12_x17=cdf[cdf.iloc[:,i]<-1] 
  print(x12_x17)

          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
330      331  200000  2.0  2.0  1.0  37.0  1.0 -1.0  2.0 -1.0  ...   6773.0
391      392  280000  2.0  2.0  1.0  39.0  1.0 -1.0  0.0  0.0  ...  37154.0
521      522  410000  2.0  2.0  2.0  27.0  1.0 -1.0  0.0  0.0  ...  44310.0
599      600  300000  2.0  2.0  1.0  36.0 -1.0 -1.0  2.0  0.0  ...   2303.0
1028    1029  200000  1.0  1.0  2.0  33.0  1.0 -1.0 -1.0  0.0  ...   1873.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...      ...
29089  29090  360000  2.0  2.0  2.0  51.0  1.0 -1.0 -1.0 -1.0  ...   9944.0
29303  29304   30000  1.0  2.0  2.0  26.0  1.0 -1.0 -1.0  2.0  ...  29361.0
29558  29559  200000  1.0  2.0  1.0  45.0  1.0 -1.0  0.0  0.0  ...  28355.0
29563  29564   20000  1.0  3.0  2.0  38.0  1.0 -1.0  0.0  0.0  ...  18161.0
29998  29999   80000  1.0  3.0  1.0  41.0  1.0 -1.0  0.0  0.0  ...  52774.0

           X16      X17      X18      X19     X20      X21      X22      X23  \
330    23209.0  16893.0   1000.0      0.0  6900.0  24000.0  17000.0   2500.0
391    32581.0  33316.0  38621.0   2000.0  1130.0    922.0   1011.0   5000.0
521    62408.0  61420.0  33049.0  16000.0  8700.0  18775.0  15000.0   5350.0
599     2768.0  65373.0  10000.0      0.0     0.0   2768.0  65373.0  10780.0
1028   90687.0   4577.0   3470.0   3191.0     0.0  90729.0      0.0   6266.0
...        ...      ...      ...      ...     ...      ...      ...      ...
29089   4540.0   8024.0  15528.0   2145.0  9944.0   4540.0   8024.0   4421.0
29303  29022.0  28409.0  28924.0   4000.0     0.0   1000.0    900.0    800.0
29558  29465.0  30885.0  34144.0   1492.0  1402.0   2002.0   2007.0   6163.0
29563  18521.0  18911.0  18451.0   1300.0  1302.0    662.0    688.0    800.0
29998  11855.0  48944.0  85900.0   3409.0  1178.0   1926.0  52964.0   1804.0

         Y
330    1.0
391    1.0
521    0.0
599    1.0
1028   0.0
...    ...
29089  0.0
29303  0.0
29558  0.0
29563  0.0
29998  1.0

[142 rows x 25 columns]
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...       X15  \
621      622  180000  2.0  2.0  2.0  28.0 -1.0 -1.0 -1.0 -1.0  ...     460.0
685      686  360000  1.0  1.0  1.0  47.0 -1.0 -1.0 -1.0  0.0  ...  174397.0
880      881  200000  1.0  1.0  2.0  30.0 -1.0 -1.0 -1.0  0.0  ...   11751.0
932      933  160000  2.0  2.0  2.0  29.0  2.0  2.0 -1.0 -1.0  ...       0.0
959      960  250000  1.0  1.0  2.0  41.0 -1.0 -1.0 -1.0  0.0  ...    5872.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...       ...
27495  27496  170000  1.0  2.0  1.0  57.0 -1.0 -1.0 -1.0 -1.0  ...     792.0
27576  27577  260000  1.0  1.0  1.0  59.0 -1.0 -1.0 -1.0 -1.0  ...     792.0
27773  27774   80000  2.0  2.0  1.0  24.0  2.0  2.0 -1.0  0.0  ...    4161.0
29589  29590  120000  1.0  2.0  1.0  33.0 -1.0 -1.0 -1.0 -1.0  ...     500.0
29780  29781  100000  1.0  2.0  2.0  29.0  0.0  0.0 -1.0 -1.0  ...    1044.0

           X16     X17    X18       X19     X20      X21     X22      X23    Y
621      460.0   610.0    0.0    1000.0   500.0    460.0   610.0    460.0  0.0
685     4852.0  4125.0    0.0  177671.0  3508.0   4876.0  4188.0  10007.0  0.0
880    11772.0  5318.0    0.0   11663.0  9363.0   3232.0  3000.0   1000.0  0.0
932      892.0     0.0    0.0     874.0     0.0    892.0     0.0    594.0  1.0
959    23020.0  2367.0    0.0    8348.0     0.0  23020.0  2367.0   3117.0  1.0
...        ...     ...    ...       ...     ...      ...     ...      ...  ...
27495    396.0   396.0    0.0    3396.0   792.0      0.0   396.0    396.0  1.0
27576   1309.0  2557.0  627.0    7388.0   792.0   1312.0  2564.0    804.0  0.0
27773   4042.0  6807.0    0.0    4242.0  1032.0   1000.0  2812.0   2248.0  1.0
29589    150.0   150.0    0.0     505.0   500.0    150.0   150.0    941.0  0.0
29780   -217.0   522.0    0.0    4000.0  1044.0      0.0  2000.0   2000.0  0.0

[117 rows x 25 columns]
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...       X15  \
72        73  200000  2.0  2.0  1.0  32.0 -1.0 -1.0 -1.0 -1.0  ...    5247.0
276      277  460000  1.0  1.0  1.0  40.0  2.0 -1.0 -1.0 -1.0  ...    2641.0
564      565  390000  2.0  1.0  2.0  45.0  2.0  2.0  2.0 -1.0  ...    4240.0
977      978  180000  1.0  1.0  2.0  28.0 -1.0 -1.0 -1.0 -1.0  ...   55566.0
1039    1040   50000  1.0  3.0  2.0  24.0 -1.0 -1.0 -1.0 -1.0  ...   18115.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...       ...
28555  28556  420000  2.0  2.0  1.0  38.0  0.0 -1.0 -1.0 -1.0  ...   51555.0
28634  28635  190000  2.0  1.0  1.0  36.0 -1.0 -1.0 -1.0 -1.0  ...    6381.0
28754  28755   70000  2.0  2.0  2.0  34.0 -1.0 -1.0 -1.0 -1.0  ...   11019.0
29602  29603   60000  1.0  2.0  1.0  37.0  0.0  0.0  0.0 -1.0  ...   15273.0
29888  29889  180000  1.0  3.0  1.0  40.0  0.0  0.0  0.0 -1.0  ...  111077.0

            X16       X17      X18     X19       X20     X21      X22     X23  \
72       3848.0    3151.0   5818.0    15.0    9102.0    17.0   3165.0  1395.0
276       -10.0   22535.0   2728.0     0.0    2654.0     0.0  22545.0     0.0
564      3346.0    2698.0      1.0  1693.0    6940.0     7.0   1230.0     3.0
977      1056.0     390.0    662.0     0.0   61411.0  1056.0      0.0  1998.0
1039    18495.0   18804.0   8769.0     0.0   18650.0   659.0   1000.0  1000.0
...         ...       ...      ...     ...       ...     ...      ...     ...
28555    2093.0    5773.0  53400.0     0.0   51566.0  2093.0   5773.0  2984.0
28634    6383.0     817.0   4923.0     0.0    6383.0     2.0      0.0  1809.0
28754   11632.0    7864.0   1245.0     0.0   12019.0  1000.0    157.0  7851.0
29602   14766.0   14687.0   3000.0    18.0   15300.0  5000.0  15132.0  6500.0
29888  112738.0  115746.0   4400.0     0.0  112736.0  5000.0   5300.0  5000.0

         Y
72     0.0
276    1.0
564    0.0
977    0.0
1039   0.0
...    ...
28555  0.0
28634  0.0
28754  0.0
29602  0.0
29888  0.0

[103 rows x 25 columns]
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...     X15  \
194      195   50000  1.0  2.0  1.0  36.0  0.0  0.0  0.0  0.0  ...   -14.0
757      758  230000  2.0  2.0  1.0  30.0  2.0  0.0 -1.0 -1.0  ...  -828.0
1000    1001  100000  1.0  2.0  1.0  29.0  0.0  0.0  0.0  0.0  ... -2618.0
1337    1338  290000  2.0  1.0  2.0  31.0 -1.0 -1.0 -1.0 -1.0  ...  -150.0
2914    2915  320000  2.0  2.0  2.0  50.0 -1.0  0.0 -1.0 -1.0  ...    -6.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...     ...
28157  28158  130000  2.0  3.0  1.0  31.0  0.0 -1.0 -1.0 -1.0  ... -1018.0
28236  28237  400000  2.0  3.0  1.0  40.0  0.0 -1.0 -1.0 -1.0  ...  -329.0
28799  28800  200000  2.0  3.0  2.0  42.0  1.0 -1.0 -1.0 -1.0  ... -3903.0
29353  29354  390000  1.0  2.0  2.0  28.0  0.0  0.0  0.0  0.0  ... -1391.0
29606  29607   90000  1.0  2.0  1.0  45.0 -1.0  3.0  2.0  2.0  ... -1170.0

            X16       X17      X18      X19      X20       X21      X22  \
194        72.0     658.0   2000.0   1000.0   2000.0     500.0   1000.0
757      6153.0   12663.0   1222.0   1837.0      0.0    7863.0  12675.0
1000    95748.0  101299.0   3320.0   5000.0      0.0  100000.0   7186.0
1337    66675.0   68071.0      0.0    480.0      4.0   69001.0   2500.0
2914     1252.0       0.0   3000.0    342.0      2.0    1500.0      0.0
...         ...       ...      ...      ...      ...       ...      ...
28157   89445.0   90179.0   4065.0   6704.0  21018.0   92610.0   3272.0
28236   65691.0   23657.0  35729.0  72031.0      0.0   66020.0  23776.0
28799   11989.0   11839.0  10000.0   2509.0      0.0   24000.0      0.0
29353  249742.0  253914.0   9124.0   3181.0    895.0  253009.0  10009.0
29606     390.0     390.0      0.0      0.0      0.0    1560.0    390.0

           X23    Y
194    20011.0  0.0
757     2959.0  1.0
1000       0.0  0.0
1337    3000.0  0.0
2914   10701.0  0.0
...        ...  ...
28157   3332.0  1.0
28236  32948.0  0.0
28799  27000.0  0.0
29353   9509.0  0.0
29606    930.0  1.0

[103 rows x 25 columns]
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...       X15  \
7          8  100000  2.0  2.0  2.0  23.0  0.0 -1.0 -1.0  0.0  ...     221.0
37        38   60000  2.0  2.0  2.0  22.0  0.0  0.0  0.0  0.0  ...    6026.0
56        57  180000  2.0  3.0  1.0  34.0  0.0  0.0  0.0 -1.0  ...    7142.0
276      277  460000  1.0  1.0  1.0  40.0  2.0 -1.0 -1.0 -1.0  ...    2641.0
343      344  180000  1.0  1.0  1.0  39.0  0.0  0.0 -1.0  0.0  ...  122295.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...       ...
28923  28924  500000  2.0  3.0  1.0  40.0  0.0  0.0  0.0  0.0  ...   27053.0
29009  29010  200000  2.0  1.0  1.0  40.0  1.0 -1.0 -1.0 -1.0  ...     849.0
29701  29702  240000  1.0  2.0  1.0  31.0  2.0  0.0 -1.0  2.0  ...    1175.0
29780  29781  100000  1.0  2.0  2.0  29.0  0.0  0.0 -1.0 -1.0  ...    1044.0
29782  29783  300000  1.0  3.0  1.0  32.0 -1.0 -1.0 -1.0  0.0  ...    3242.0

           X16      X17       X18       X19      X20    X21       X22     X23  \
7       -159.0    567.0     380.0     601.0      0.0  581.0    1687.0  1542.0
37    -28335.0  18660.0    1500.0    1518.0   2043.0    0.0   47671.0   617.0
56      -679.0   8321.0    8500.0    1500.0   7500.0  679.0    9000.0  2000.0
276      -10.0  22535.0    2728.0       0.0   2654.0    0.0   22545.0     0.0
343    -1005.0   1005.0   11000.0  145000.0  26000.0    0.0  101005.0  1898.0
...        ...      ...       ...       ...      ...    ...       ...     ...
28923     -9.0  14863.0    1284.0    1231.0   1154.0    0.0   14872.0   121.0
29009   -171.0  14686.0  114558.0    3796.0    849.0    0.0   14857.0     0.0
29701    -13.0   2487.0    2300.0    2185.0      4.0    0.0    2500.0     0.0
29780   -217.0    522.0       0.0    4000.0   1044.0    0.0    2000.0  2000.0
29782    -80.0    720.0    2635.0    1461.0   2000.0    0.0     800.0    15.0

         Y
7      0.0
37     0.0
56     0.0
276    1.0
343    0.0
...    ...
28923  0.0
29009  0.0
29701  1.0
29780  0.0
29782  0.0

[93 rows x 25 columns]
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
134      135   30000  2.0  2.0  2.0  22.0  0.0  0.0  0.0  0.0  ...  25350.0
167      168  100000  1.0  2.0  1.0  27.0 -1.0  2.0  2.0  0.0  ...  29336.0
290      291  280000  1.0  1.0  2.0  33.0 -1.0 -1.0 -1.0 -1.0  ...    898.0
1412    1413   30000  1.0  2.0  1.0  38.0 -1.0 -1.0 -1.0 -1.0  ...   5480.0
1848    1849  150000  1.0  1.0  2.0  30.0 -1.0 -1.0 -1.0 -1.0  ...   1589.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...      ...
29719  29720   20000  1.0  3.0  1.0  34.0  0.0  0.0  0.0  0.0  ...  16525.0
29852  29853  500000  1.0  2.0  1.0  44.0 -1.0 -1.0 -1.0 -1.0  ...    949.0
29921  29922  410000  1.0  1.0  2.0  34.0  0.0  0.0  0.0 -1.0  ...   1467.0
29931  29932   60000  1.0  2.0  3.0  41.0  0.0  0.0  0.0  0.0  ...  26940.0
29958  29959  230000  1.0  3.0  2.0  31.0  0.0 -1.0 -1.0 -1.0  ...    417.0

           X16       X17      X18      X19     X20      X21     X22       X23  \
134    17603.0    -780.0   2000.0   1400.0     0.0    500.0     0.0    1560.0
167    22979.0    -246.0   3166.0      0.0  1330.0   1398.0    12.0   50000.0
290      325.0 -339603.0    898.0    325.0   898.0    325.0     0.0  345293.0
1412     175.0   -2000.0   1522.0      0.0  5480.0    175.0     0.0    2000.0
1848    9918.0  -16586.0   1098.0   2000.0  1589.0   9918.0  1157.0       0.0
...        ...       ...      ...      ...     ...      ...     ...       ...
29719  16185.0   -2623.0   2000.0   2004.0  1500.0   1500.0     0.0   19500.0
29852  86362.0      -8.0  13053.0   2556.0   955.0  86793.0     0.0    1793.0
29921   1421.0     -15.0  17259.0  18600.0  1474.0   1428.0     0.0       0.0
29931   9971.0  -11798.0   2200.0   2000.0  1200.0      0.0     0.0   28000.0
29958    613.0    -191.0   1000.0   1000.0  1000.0   1000.0     0.0       0.0

         Y
134    0.0
167    0.0
290    1.0
1412   0.0
1848   0.0
...    ...
29719  0.0
29852  0.0
29921  1.0
29931  0.0
29958  0.0

[168 rows x 25 columns]

En caso que existieran esos valores (monto de deuda lógico), se transformarán a positivos, considerando que se deban a un error de captura.

In [ ]:
for i in range(r12,r17+1): 
  cdf[cdf.iloc[:,i]<-1]*-1

Se comprueba si hay elementos en X18:X23 cuyos valores no correspondan con un monto de pago anterior lógico (<-1 = ilógico). De momento solo se hace para conocer nuestros datos, en la siguiente sección se tomarán medidas.

In [ ]:
r18=cdf.columns.get_loc('X18') #Se busca el índice para la columna llamada 'X18'
r23=cdf.columns.get_loc('X23') #Se busca el índice para la columna llamada 'X23'
for i in range(r18,r23+1):
  x18_x23=cdf[cdf.iloc[:,i]<-1] 
  print(x18_x23)

Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]

En caso que existieran esos valores (de pago anterior no lógicos), se transformarán a positivos, considerando que se deban a un error de captura.

In [ ]:
for i in range(r18,r23+1): 
  cdf[cdf.iloc[:,i]<-1]*-1

## Tratamiento de datos faltantes

Verificamos si hay datos faltantes, dónde y cuántos

In [ ]:
print(cdf.isnull().values.any()) 
print("")
print(cdf.isnull().any())
print("")
print(cdf.isnull().sum())

True

ID     False
X1     False
X2     False
X3     False
X4     False
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

ID      0
X1      0
X2      0
X3      0
X4      0
X5      2
X6      1
X7      3
X8      5
X9      7
X10    12
X11    10
X12     7
X13     7
X14     9
X15    11
X16    12
X17     6
X18     6
X19     6
X20     6
X21     7
X22     8
X23     5
Y       3
dtype: int64

Eliminamos las filas donde falten todos los elementos

In [ ]:
cdf.dropna(how='all', inplace = True)

Eliminamos las filas donde haya a partir de 10 elementos faltantes

In [ ]:
for i in range(10,14):
  cdf.dropna(thresh=i, inplace = True)

Se imputan los valores faltantes en X5 con la edad más frecuente.

In [ ]:
#cdf[cdf['X5'].isnull()]
modaX5=mode(cdf['X5']) ##modaX5=cdf.X5.mode() 
print(modaX5)
cdf['X5'].fillna(modaX5, inplace=True)

18.0

Los valores NaN de X6:X11, son sustituidos por el valor más común de esa columna (moda).

In [ ]:
for i in range(r6,r11+1): 
  cdf.iloc[:,i].fillna(mode(cdf.iloc[:,i]), inplace=True) #modaX6=mode(cdf['X6']) 
  print('moda x'+str(i),':',mode(cdf.iloc[:,i])) #print('x6',modaX6)

moda x6 : 0.0
moda x7 : 0.0
moda x8 : 0.0
moda x9 : 0.0
moda x10 : 0.0
moda x11 : 0.0

Los datos faltantes en X12:X23 se obtienen a través de la imputación media.

In [ ]:
for i in range(r12,r23+1): 
  cdf.iloc[:,i].fillna(mode(cdf.iloc[:,i]), inplace=True) #modaX6=mode(cdf['X6']) 
  print('median x'+str(i),':',cdf.iloc[:,i].median()) #ndf.Length.median()

median x12 : 17989.0
median x13 : 18111.0
median x14 : 18163.0
median x15 : 17434.0
median x16 : 16338.0
median x17 : 14816.0
median x18 : 1831.0
median x19 : 1760.0
median x20 : 1400.0
median x21 : 1011.0
median x22 : 1017.0
median x23 : 1000.0

Debido a que Y representa la probabilidad real de incumplimiento como variable de respuesta lo considero un dato clave y donde haya elementos NaN contemplo más viable eliminarlos que imputarlos.

In [ ]:
cdf[cdf['Y'].isnull()]
cdf['Y'].dropna(inplace=True)
cdf[cdf['Y'].isnull()]

Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]

In [ ]:
print(cdf.isnull().sum())

ID     0
X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
Y      0
dtype: int64

# Parte 3

1. ¿Qué datos considero mas importantes? ¿Por qué?

Considero medianamente importante el grado de educación porque puede darnos una idea relativa sobre los ingresos de individuo. Considero importantes las variables que contienen la deuda (X12:X17) y los montos pagados anteriormente (X18:X23) puesto que nos proporciona un panorama general del flujo monetario que los individuos producen, contemplando cuánto se pagó y cuánto se debe.  En general, los datos que considero más importantes son los relativos al historial de pagos pasados (X6:X11), si pagaba a tiempo o con cuánta demora, pues podría determinar el compromiso en cuanto al pago, como también Y, que es la predicción.

2. ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?

Se eliminaron y también reemplazaron los datos nulos o faltantes. Se eliminaron en los casos donde todas las columnas para una misma fila eran solamente ese tipo de valores, como también cuando tenían a partir de 10 datos faltantes, pues al no contar con básicamente la mitad de la información, no podía ser un registro representativo para el modelo. 
No se eliminaron todas las filas con valores nulos, con la finalidad de practicar y experimentar la limpieza de datos, porque en realidad eliminar todas las filas con al menos un valor nulo habría sido viable pues no poseen un peso porcentual muy grande o representativo para la muestra. De igual forma, cabe destacar que en este conjunto de datos particular no se encontró ningún caso donde no hubiese ningún dato para una misma fila, pero se mantiene el comando contemplando que podría haber datos futuros que sí apliquen.
Los demás datos que no correspondían a los dos casos mencionados anteriormente se reemplazaron, para no perder un gran volumen e información y poder representar de mejor manera el modelo.

3. ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?

Ordenar en el sentido ascendente o descendente no parece ser necesario, pues el modelo o las transformaciones consideradas no lo requieren, mas sí hay que “poner los datos en orden” por así decirlo. Me refiero a estandarizar o asegurarnos que los valores (conforme las descripciones dadas de sus variables) son correctos, como se menciona más a detalle en el siguiente punto.

4. ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.

Sí existen problemas que debemos solucionar antes de proseguir con el modelado, tales como verificar que el monto de crédito otorgado contenga valores positivos, que los datos capturados para las variables de género, educación y estado civil correspondan a las categorías existentes, que la edad asignada sea razonable (mayoría de edad) y que el monto de la deuda, pagos anteriores e historial de pago no posean valores negativos. Debía realizarse porque si los valores se salían de los estándares que en la misma descripción de las variables de definía, simplemente eran datos inexistentes o inválidos en cuanto a su clasificación, lo cual, en el conjunto de datos sí sucedía y debía corregirse, además de prevenir que sucediera en datos futuros. Un ejemplo de tales correcciones es, en las categóricas, si había la opción ‘otra’, se optó por ella (al reasignar categorías inválidas), pues es de alguna forma aquella que no está clara y parecía ser por tanto la nueva.

5. ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

Como se menciona anteriormente, algunas filas donde no se contaba con toda o casi la mayor parte de la información fueron eliminadas, puesto que no resultaban representativas al carecer de tantos datos. Sin embargo, también se contemplaron otras opciones, como la imputación media para preservar la distribución de los datos y no sacrificar su demás información al eliminarlos. Asimismo, se asignaron las categorías alternativas (otra/o) cuando la capturada era inválida, se consideró un género aleatorio para sustituir los valores ilógicos (puesto que no se considera muy importante dicha variable, además que elegir solo un género podría causar sesgo y otros métodos generar valores no binarios), la moda en hábitos de pago (puesto que sí es posible observar ese tipo de tendencia), multiplicación por -1 para los elementos negativos (donde no era lógico que tuviesen tales valores) y eliminación de datos que se consideran muy importantes faltantes (como Y).